body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.page-container {
  max-width: 75%;
  margin: 0 auto;
}

/* HEADER */
/* TOP HEADER NAV*/

header {
  background-color: #1f2937;
  color: #f9faf8;
  padding-bottom: 100px;
  padding-top: 20px;
}

.flex-header{
  display: flex;
  justify-content: space-between;
  
}

.flex-header h3 {
  font-size: 24px;
  margin-top:0;
}

.flex-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color:#d6d9df;
  text-decoration: none;
  font-size: 1em;
}

.nav-link:hover {
  color: #ffffff;
}


/* HEADER UPPER */

.flex-header-upper {
  display: flex;
  justify-content: space-between;
}

.flex-header-upper-title {
  max-width: 50%;
}

.flex-header-upper-title h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 75%;
  margin-bottom: 0;
}
.flex-header-upper-title p {
  max-width: 85%;
  font-size: 1.2em;
  color:#e5e7eb
}

.sign-butt {
  background-color: #3882f6;
  border: none;
  width: 140px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 1.1em;
  font-weight: 600;
}
.sign-butt:hover {
  background-color: #74a9ff;
}

.sign-butt:active {
  background-color: #f7f7f7;
}

.flex-main-upper-image {
  max-width: 400px;
}

.grey-bg {
  background-color: #808080;
  width: 400px;
  height: 200px;
  margin-top: 15%;
  padding: auto;
}

.grey-bg p {
  margin: 70px 80px;
  text-align: center;
}

/* MAIN UPPER*/

.main-header-text {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 80px;
}

.four-box-items {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 145px;
}

.four-box-items div {
  width: 190px;
}

.main-flex-icon {
  max-width: 180px;
  max-height: 180px;
  border-radius: 15px;
  border: 0.2em solid #b3b3b3;
}

.main-flex-paragraph {
  text-align: center;
  color: #797979;
}


/* MAIN MIDDLE */

.main-middle {
  background-color: #e5e7eb;
}

.quote-container {
  padding: 40px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  margin: 5px auto;
}

.by-who {
  font-size: 20px;
  text-align: right;
}

/* MAIN LOWER */

.blue-box {
  display:flex;
  flex-direction: column;
  background-color: #3882f6;
  color:#f9faf8;
  justify-content: left;
  margin: 75px auto;
  width: 1200px;
  /* height: 100px; */
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.call-act {
  text-align: left;
  font-size: 1.8em;
  margin: auto 100px 0 100px;
}

.blue-box p {
  max-width: 60%;
  margin: 0 100px auto 100px;
  font-size: 1.1em;
}

/* FOOTER */

footer {
  background-color: #1f2937;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f9faf8;
  text-align: center;
  font-size: 18px;
}