* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.container {
    margin: auto auto;
    max-width: 1200px;
}


/* Header */
.header {
    background-color: #1f2937;
    padding-bottom: 80px;
}

.nav-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-header h2 {
    color: #f9faf8;
}

.nav {
    display: flex;
    /* gap: 15px; */
    color: #e5e7eb;
}

.nav p {
    padding: 0 10px;
}

.hero {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.hero div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font: extra-bold;
}

.hero p {
    color: #e5e7eB;
    font-size: 18px;
}

.image-hero {
    display: flex;
    width: 600px;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    color:#e5e7eB;
    background-color: #5f5f5f;
    text-align: center;
}

.header-signup {
    height: 40px;
    width: 150px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
}


/* upper mid */
.upper-mid .container {
    padding: 50px 50px;
    padding-bottom: 100px;
}

.upper-mid h1 {
    text-align: center;
    margin-bottom: 70px;
}

.upper-mid-image {
    display: flex;
    flex-direction: row;
}

.upper-mid-image div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

}

.upper-mid-image img {
    width: 170px;
    height: 170px;
    border: 5px solid;
    border-radius: 20px;
    border-color: #3882f6;
}

.upper-mid-image p {
    text-align: center;
    padding: 0 47px;
}


/* lower mid */

.lower-mid {
    background-color: #e5e7eb;
    padding: 100px auto;
}

.lower-mid .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 920px;
}

.main-quote p {
    padding-top: 50px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937 ;
}

.name-quote h4 {
    text-align: right;
    font-size: 1.5rem;
}

/* lower */

.blue-box {
    display: flex;
    width: 1000px;
    margin: 200px auto;
    padding: 50px 120px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-between;
}

.blue-box h3 {
    color: #f9faf8;
}

.blue-box p {
    color: #e5e7eb;
}

.lower-signup {
    background-color: #3881f600;
    border-radius: 10px;
    border: 2px solid;
    color: #f9faf8;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 30px;

}