body {
  margin: 0;

}

.page-container {
  max-width: 75%;
  margin: 0 auto;
}

/* HEADER */
/* TOP HEADER */

header {
  background-color: #1f2937;
  color: #f9faf8;
  padding-bottom: 100px;
  padding-top: 20px;
}

.flex-header{
  display: flex;
  justify-content: space-between;
}

.flex-header h3 {
  font-size: 24px;
  margin-top:0;
}

.flex-nav {
  display: flex;
  gap: 10px;
}

.nav-link {
  color:#f9faf8;
  text-decoration: none;
}


/* MAIN UPPER */

.flex-main-upper {
  display: flex;
  justify-content: space-between;
}

.flex-main-upper-title {
  max-width: 50%;
}

.flex-main-upper-title h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 75%;
  margin-bottom: 0;
}
.flex-main-upper-title p {
  max-width: 85%;
  font-size: 1.2em;
}

/* .sign-up-one {
  background-color: #3882f6;
  width: 140px;
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
} */

.sign-butt {
  background-color: #3882f6;
  border: none;
  width: 140px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 1.1em;
  font-weight: 600;
}
.sign-butt:hover {
  background-color: #74a9ff;
}

.sign-butt:active {
  background-color: #f7f7f7;
}

.flex-main-upper-image {
  max-width: 400px;
}

.grey-bg {
  background-color: #808080;
  width: 400px;
  height: 200px;
  margin-top: 15%;
  padding: auto;
}

.grey-bg p {
  margin: 70px 80px;
  text-align: center;
}

/* MAIN LOWER */

.quote {
  background-color: #e5e7eb;
}

